.parent {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% / 50% 50%;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.headline p {
    font-size: 4rem;
    text-align: center;
}

button {
    height: 7vh;
    width: 13vw;
    background: none;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.scroll {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
}

.mouse {
    animation: scroll 1s ease infinite;
}

@keyframes scroll {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}